<!DOCTYPE HTML>
<html lang="uk">
<%- include('../blocks/head.ejs'); %>
    <body>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <%- include('../blocks/navbar_sidebar.ejs'); %>
                <div class="col py-3 bg-light">
                    <h1>Програмування web-додатків</h1>
                    <h4>Варіант №3</h4>
                    <h4>Автор: Мороз Андрій</h4>
                    <div class = "bg-secondary index text-light">
                        <h3> Завдання:</h3>
                        <h5> Реалізувати  за допомогою класів або прототипів такі завдання:</h5>
                        <ol>
                            <li> Виконавці</li>
                            <li> Замовники</li>
                            <li> Проекти</li>
                            <li> Завершені проекти</li>
                        </ol>
                        <h5>Реалізувати такі можливості системи:</h5>
                        <ul>
                            <li> Додавання нового замовника в колекцію</li>
                            <li> Редагування замовника в колекції</li>
                            <li> Видалення замовника з колекції</li>
                            <li> Пошук одного замовника в колекції</li>
                            <li> Додавання проекту в колекцію</li>
                            <li> Редагування проекту в колекції</li>
                            <li> Видалення проекту з колекції</li>
                            <li> Додавання виконавця в колекцію</li>
                            <li> Редагування виконавця в колекції</li>
                            <li> Видалення виконавця з колекції</li>
                            <li> Пошук усіх проектів замовника</li>
                            <li> Пошук усіх проектів виконавця</li>
                        </ul>
                        <h5>Усі колекції реалізувати у вигляді асоціативних масивів Array</h5>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>