<tr class="text-center text-primary align-middle">
    <th class="fit" scope="col">#</th>
    <th class="" scope="col">Ім'я</th>
    <th class="" scope="col">Вік</th>
 </tr>
 <tr>
     <th>1</th>
     <th>Антон</th>
     <th>24</th>
</tr>
<tr>
    <th>2</th>
    <th>Володимир</th>
    <th>19</th>
</tr>
<tr>
    <th>3</th>
    <th>Богдан</th>
    <th>33</th>
</tr>

</thead>
<tbody>
 <!-- <tr class="text-center text-secondary" id="table_empty">
    <td colspan="4"> <span class="mx-5 fs-4">Немає даних для відображення</span> </td>
 </tr> -->